body {
  text-align: center;
}

.cell {
  width: 80px;
  height: 80px;
  display: inline-block;
  border: 1px solid #aaa;
  background: #f8f8f8;
  margin-right: 4px;
}

.active {
  background-color: #058BDA;
  }

.guess-true {
  background-color: #00cc00;
}

.guess-false {
  background-color: #cc0000;
}

.play-again-button {
  background-color: #00cc00;
  padding: 5px;
  font-size: 28px;
  border: none;
  border-radius: 5px;
}
.play-again-button:hover {
  box-shadow: 4px 2px 5px #1111;
}